body {
    display: flex;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
}


.container {
  justify-content: center;
}


 .container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vmin;
    color: white;
} 

h1 {
  font-family: myFont1;
  font-size: 28px;
  margin-bottom: 50px;
  text-align: center;
}

/* .container-content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-top: 20vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white
} */




/* V2 LIKES -- HEART BUTTON */
.likeButton__container {
    margin-top: 40px;
    width: 50px; /* Adjust the size of the circular background */
    height: 50px; /* Adjust the size of the circular background */
    border-radius: 50%; /* Make it a circle */
    background-color: #454343; /* Set the background color for the circle */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease; /* Adding transition for smooth hover effect */
}

#heart {
  cursor: pointer;
  background-color: white;
  border: none;
  width: 50px;
  height: 50px;
  position: relative;
  transform: rotate(-45deg) scale(0.25);


}

#heart::before,
#heart::after {
  content: '';
  background-color: white;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;


}

#heart::before {
  top: -25px;
  left: 0;
}

#heart::after {
  top: 0;
  left: 25px;
}

.likeButton__container:hover  {
  background-color: grey; /* Change the background color on hover */
}

.likeButton__container.clicked {
  background-color: #BC2020;
}


 /* .likeButton__container{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    /* background-color: #454343; 

} */

/* V1 LIKES -- HEART BUTTON */


/* .heart__icon{
    width: 20px;
    height: 20px;

}  */


/* HOVER INT */

/* .likes:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #FCD8D8;

}

.heart__icon:hover{
    width: 20px;
    height: 20px;
    color: red;
} */



/* COLOR TRIO */

.color-samples{
    margin-top: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    text-align: center;
}


.color-sample__swatch {
    display: block;
    /* width: 10vmin; */
    width: 150px;
    height: 150px;
    aspect-ratio: 1;
    background: var(--current-color, aqua);
    border-radius: 50%;
    margin-right: -20px; /* Adjust the negative margin to control the overlap */
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);



    /* box-shadow: 0 0 0 .5vmin var(--background); */
  }
  
  .color-sample__value {
    display: block;
    font-size: 10px;
    font-family: myFont2;
    text-align: center;
    width: 8vmin;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 45px;
    

  }

/* .circle1{
    border-radius: 50%;
    margin-right: -15px;
    height: 150px;
    width: 150px;
    background-color: #FF9292;
}



.circle2{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #E48282;
}


.circle3{
    border-radius: 50%;
    margin-left: -15px;
    height: 150px;
    width: 150px;
    background-color: #E72D2D;
} */

/* Media query for iPhones and other small screens */
@media screen and (max-width: 768px) {
  /* to fix some spacing/layout issues, I manually fixed the margins */

  body {
    display: flex;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
}

  /* palette title */
  h1 {
    font-family: myFont1;
    font-size: 28px;
    margin-bottom: 50px;
    width: fit-content; /* not sure if this is good */
}
  
  .container-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-top: 80px;
    color: white;
}

  .color-samples {
    margin-right: 12px;

  }

  .color-sample__swatch {
    display: block;
    width: 110px;
    height: 110px;
    aspect-ratio: 1;
    background: var(--current-color, aqua);
    border-radius: 50%;
    margin-right: -20px; /* Adjust the negative margin to control the overlap */
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);


    /* box-shadow: 0 0 0 .5vmin var(--background); */
  }

  .color-sample__value {
    display: block;
    font-size: 8px;
    font-family: myFont2;
    text-align: center;
    width: 8vmin;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 35px;
    

  }

  .likeButton__container {
    margin-left: 8px;
  }


}