@font-face{
    font-family: myFont1;
    src:url(Disket-Mono-Bold.ttf);
}

@font-face{
    font-family: myFont2;
    src:url(Disket-Mono-Regular.ttf);
}


html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    padding: 0;
    margin: 0;
    min-height: 100%;
}

body {
    background-color: black;
}

/* global navigation */
.navigation__bar {
    font-family: 'Inter';
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    border-radius: 10px;
    background-color: #101010;
    width: 280px; /* 300 */
    text-align: center;
    height: 70px; /* 80 */

    /* position the nav at the bottom of the page */
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    
}

.navigation__bar ul {
    padding: 0px 10px; /* Adjust the padding as needed 0 20 */
}

.navigation__bar ul li{
    display: inline-block;
}

.navigation__bar ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #E4DEDE;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 26px; /* 16 */
}


/* USER PROFILE BUTTON */

.icon {
    width: 30px; /* 38 */
    height: 30px; /* 38 */
    color: white;
}

/* REFRESH BUTTON */
.refresh{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #FDF9F9;
    box-shadow: 0 0 10px 0 hsla(0, 50%, 98%, 0.25); /* Glowing effect with HSL color */
    border-radius: 50%; 
    width: 80px;
    height: 80px;
    margin-top: 0;
    margin-bottom: 50px;
}

.refresh__icon{
    width: 50px; /* 50 */
    height: 50px; /* 50 */
}


/* Media query for iPhones and other small screens */
@media screen and (max-width: 768px) {



}