.liked-palettes {
  padding: 0 93px;
  padding-top: 126px;
}

.liked-palettes__wrapper {
  padding: 36px 42px;
  border-radius: 8px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}